.titulo-modal {
  color: #aa1423;
  background-color: #fff;
  border-color: #aa1423;
  border-style: solid;
  border-width: 0 0 2px;
}

.titulo-texto {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
}

.modal-body {
  text-align: justify;
}

.position-modal {
  z-index: 99999;
  background-color: red;
}

.backdrop-modal {
  background-color: #090816;
  z-index: 99999 !important;
}
