<header class="p-3 text-bg-dark">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
      <img width="65px"
        src="https://th.bing.com/th/id/R.386c15cc643288b3c7244ca3926985ed?rik=lbWBepMJpFvqjw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2flogo-ibm-png-ibm-logo-png-4464.png&ehk=IT%2bhXM4qxkEBumBDGD83ElXGXJXWwamtfZcm4e%2bxDvU%3d&risl=&pid=ImgRaw&r=0"
        alt="">
    </a>
  </div>
</header>
