/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";

.m-10 {
  margin: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.fw-b {
  font-weight: bold;
}

.ptb-2 {
  padding: 2px 0 2px 0 !important;
}
